@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  overflow-x: hidden;
  overflow-y: scroll;
}

.rec-blur {
  border-radius: 20px;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.06) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  backdrop-filter: blur(25px);
}

.rec-blur-l {
  border-radius: 20px;
  background: linear-gradient(
    180deg,
    rgba(6, 6, 14, 0.06) 0%,
    rgba(6, 6, 14, 0) 100%
  );
  backdrop-filter: blur(25px);
}

.swiper-width {
  width: 550px !important;
}

.heading-title {
  background: radial-gradient(
    345.29% 301.1% at 48.7% -0%,
    #fff 0%,
    rgba(255, 255, 255, 0) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media (max-width: 640px) {
  .swiper-width {
    width: 100% !important;
  }
}
